// Variables and Other Pre-Sets
//Colors
$primary-color: #18547C;
$secondary-color: #FFE600;
$light-primary: #14669D;

//Main CSS Area
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $primary-color;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

//-- Modal Styles --//
#modal-body-style{
  color:#303030;
  //font-size: 18px;
  font-weight: 600;
}

#modal-header-style{
  background-color: $primary-color;
}

.modal{

  .btn-close{
    background-color: $secondary-color;
  }
  
}

//-- Hero Section --//
.main-container{
  margin: 0 auto;
}

//-- Navigation Section --//
.nav-container{
  position: relative;
  z-index: 10;
  .hamburger{
    position: absolute;
    right: 2px;
    padding: 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 20;

    .burger-line{
      background-color: #EEEEEE;
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      transition: all .5s ease-in-out;
    }

    //Rotate the Menu and Change to X
    &.close{
      transform: rotate(180deg);

      //Creating the X
      .burger-line{
        //Line 1 - Rotate
        &:nth-child(1){
          transform: rotate(45deg) translate(5px, 5px);
        }
        //Line 2 - Hide
        &:nth-child(2){
          opacity: 0;
        }
        //Line 3 - Rotate
        &:nth-child(3){
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }

  }

  //-- Full Menu Section --//
  .full-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;

    &.show{
      visibility: visible;
      
    }

    .avatar{
      height: 50vh;
      width: 100%;
      background-color: rgba(112, 112, 112, 0.9);
      display: flex;
      flex-direction: column;
      transition: all .5s ease-in-out;
      transform: translate3d(100%, 0, 0);

      &.show{
        transform: translate3d(0, 0, 0);
      }

      .center-img{
        margin: auto;
        img{
          width: 200px;
        }
      }
    }

    .nav-menu{
      height: 50vh;
      width: 100%;
      background-color: rgba(93, 93, 93, 0.95);
      padding-top: 2.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      transition: all .6s ease-in-out;
      transform: translate3d(-100%, 0, 0);

      &.show{
        transform: translate3d(0, 0, 0);
      }

      .nav-item{
        margin-bottom: 1rem;
        transition: all .5s ease-in-out;
        transform: translate3d(800px, 0, 0);

        &.current > a{
          color: #FFE600;
        }

        &.show{
          transform: translate3d(0, 0, 0);
        }

        &:nth-child(1){
          transition-delay: .1s;
        }

        &:nth-child(2){
          transition-delay: .2s;
        }

        &:nth-child(3){
          transition-delay: .3s;
        }

        &:nth-child(4){
          transition-delay: .4s;
        }

        a{
          text-decoration: none;
          color: #E5E5E5;
          font-size: 1.8rem;
          font-weight: 500;
          transition: color ease-in-out .3s;
          transition: all ease-in-out .5s;

          &:hover{
            color: #FFE600;
          }
        }
        
      }
    }
  }

}

.header{
  text-align: center;

  h1{
    margin-top: 2em;
    span{
      color: $secondary-color;
    }
  }

  h4{
    margin-bottom: 1em;
    color: #D8D8D8;
  }
}

.bio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .bio{
    max-width: 340px;
    padding: 0 1em;

    h2{
      margin-bottom: .5em;
      color: $secondary-color;
    }
    p{
      margin-bottom: 1em;
      font-size: 12px;
    }
    a{
      color: $secondary-color;
      transition: color .5s ease-in-out;

      &:hover{
        color: #fff;
      }
    }
    
  }
}

.work-experience{
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  padding: 0 1em;
  margin-bottom: 2em;

  .block{
    position: relative;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: $light-primary;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(43, 43, 43, 0.445);

    h3{
      margin: .5em 0;
    }
    h4{
      color: $secondary-color;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: .5em;
    }

    p{
      margin-bottom: 1em;
      font-size: 12px;
      padding: 0 .5em;
    }

    .strip-line{
      position: absolute;
      bottom: 0;
      background-color: $secondary-color;
      width: 100%;
      height: 8px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
 
}

//-- Footer Section --//
footer{
  background-color: #2b2b2b;
  font-size: .6rem;
  padding: .5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 1em;

  a{
    text-decoration: none;
    color: #fff;

    span{
      color: #FFE600;
    }
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////

//-- Media Queries --//

@media screen and (min-width: 350px){
  .bio-container{
  
    .bio{
  
      p{
        font-size: 14px;
      }
      
    }
  }

  .work-experience{
  
    .block{
  
      p{
        font-size: 14px;
      }

    }
   
  }
}

@media screen and (min-width: 450px){
  .nav-container{ 
    //-- Full Menu Section --//
    .full-menu{
  
      .nav-menu{
  
        .nav-item{
          transform: translate3d(1200px, 0, 0);
        }
      }
    }
  
  }
  .header{

    h1{
      font-size: 3em;
    }
  
    h4{
      font-size: 1.2em;
    }
  }

  .bio-container{
  
    .bio{
  
      p{
        font-size: 16px;
      }
      
    }
  }

  .work-experience{
  
    .block{
  
      p{
        font-size: 16px;
      }
      
    }
   
  }
}

@media screen and (min-width: 780px){

  .main-container{
    margin: 0;
  }

  .nav-container{
  
    //-- Full Menu Section --//
    .full-menu{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //overflow: hidden;
      .avatar{
        height: 100vh;
        width: 100%;
        transition: all .5s ease-in-out;
        transform: scale(0);

        &.show{
          transform: scale(1);
        }
      }
  
      .nav-menu{
        position: absolute;
        top: 0;
        right: 0; 
        height: 100vh;
        width: 50%;
        background-color: rgba(93, 93, 93, 0.95);
        transition: all .5s ease-in-out;
        transform: translate3d(0, -100%, 0);

        &.show{
          transform: translate3d(0, 0, 0);
        }
      }
    }
  
  }  

  .header{
    margin-top: -4rem;
    text-align: start;
    margin-left: 2em;
  }

  .bio-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 900px !important;
    margin-left: 2em;
    
    .bio{
      
      text-align: start;
      p{
        width: 430px;
        font-size: 14px;
      }
      
    }
  }

  .work-experience{
    margin-top: 6em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      justify-content: space-evenly;
      justify-items: center;
      grid-gap: 50px;
    .block{
  
      p{
        font-size: 16px;
      }
      
    }
   
  }
}

@media screen and (min-width: 999px){

  .main-container{
    margin: 0 auto;
    width: 900px;
  }

  .bio-container{
    
    
    .bio{
      
      text-align: start;
      p{
        width: 500px;
        font-size: 16px;
      }
      
    }
  }

  .work-experience{
    margin-top: 6em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      justify-content: space-evenly;
      justify-items: center;
      grid-gap: 50px;
    .block{
  
      p{
        font-size: 16px;
      }
      
    }
   
  }
}